metadata/mhp/ts_102809v010201p0/stream-event.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dsmcc="urn:dvb:mis:dsmcc:2009" 
	targetNamespace="urn:dvb:mis:dsmcc:2009" elementFormDefault="qualified" 
	attributeFormDefault="qualified">
	<xs:complexType name="DsmccType">
		<xs:sequence>
			<xs:element name="dsmcc_object" type="dsmcc:DsmccObjectType" minOccurs="0" 
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="dsmcc" type="dsmcc:DsmccType"/>
	<xs:complexType name="DsmccObjectType">
		<xs:sequence>
			<xs:element name="stream_event" type="dsmcc:StreamEventType" minOccurs="0" 
				maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="component_tag" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="StreamEventType">
		<xs:attribute name="stream_event_id" type="xs:string" use="required"/>
		<xs:attribute name="stream_event_name" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
