metadata/iptv/ts_102034v020101p0/sdns_v1.6r03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U / Oxygen v13.2 by Kevin Murray (NDS Limited) / Dave Walton (EchoStar) / JB Henry (Orange) -->
<xsd:schema targetNamespace="urn:dvb:metadata:iptv:sdns:2014-1" 
	xmlns:tva="urn:tva:metadata:2011" 
	xmlns:dvb12="urn:dvb:metadata:iptv:sdns:2012-1" 
	xmlns:dvb14="urn:dvb:metadata:iptv:sdns:2014-1" 
	xmlns:dvb="urn:dvb:metadata:iptv:sdns:2008-1" 
	xmlns:mpeg7="urn:tva:mpeg7:2008"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>schema to validate the record of the description of the DVB-IPTV offering of a service Provider
		This is the phase 1.6.1 version of the schema.
		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="urn:tva:metadata:2011" schemaLocation="./tva_metadata_3-1_v171.xsd"/>
	<xsd:import namespace="urn:dvb:metadata:iptv:sdns:2008-1" schemaLocation="./sdns_v1.4r13.xsd"/>
	<xsd:import namespace="urn:dvb:metadata:iptv:sdns:2012-1" schemaLocation="./sdns_v1.5r25b.xsd"/>	
	<xsd:import namespace="urn:tva:mpeg7:2008" schemaLocation="./tva_mpeg7_2008.xsd"/>
	
	<xsd:element name="ServiceDiscovery">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="BroadcastDiscovery" type="dvb14:BroadcastOffering" maxOccurs="unbounded"/>
				<xsd:element name="CoDDiscovery" type="dvb:CoDOffering" maxOccurs="unbounded"/>
				<xsd:element name="ServicesFromOtherSP" type="dvb12:ReferencedServices" maxOccurs="unbounded"/>
				<xsd:element name="PackageDiscovery" type="dvb14:PackagedServices" maxOccurs="unbounded"/>
				<xsd:element name="ServiceProviderDiscovery" type="dvb14:ServiceProviderListType" maxOccurs="unbounded"/>
				<xsd:element name="BCGDiscovery" type="dvb14:BCGOffering" maxOccurs="unbounded"/>
				<xsd:element name="RegionalizationDiscovery" type="dvb:RegionalizationOffering" maxOccurs="unbounded"/>
				<xsd:element name="RMSFUSDiscovery" type="dvb14:RMSFUSDiscoveryType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="SRMDiscovery" type="dvb14:SRMOffering" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="Version" type="dvb:Version" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServiceProviderType">
		<xsd:sequence>
			<xsd:element name="Name" type="dvb:MultilingualType" maxOccurs="unbounded"/>
			<xsd:element name="Description" type="dvb:MultilingualType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Offering" type="dvb14:OfferingListType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="DomainName" type="dvb:DomainType" use="required"/>
		<xsd:attribute name="Version" type="dvb:Version" use="required"/>
		<xsd:attribute name="LogoURI" type="xsd:anyURI" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ServiceProviderListType">
		<xsd:sequence>
			<xsd:element name="ServiceProvider" type="dvb14:ServiceProviderType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BroadcastOffering">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Provides a list of TS or services discovery information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:sequence>
					<xsd:element name="ServiceList" type="dvb14:IPServiceList" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="IPService">
		<xsd:sequence>
			<xsd:element name="ServiceLocation" type="dvb14:ServiceLocation"/>
			<xsd:element name="TextualIdentifier" type="dvb:TextualIdentifier"/>
			<xsd:element name="DVBTriplet" type="dvb:DVBTriplet" maxOccurs="unbounded"/>
			<xsd:element name="MaxBitrate" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="SI" type="dvb:SI" minOccurs="0"/>
			<xsd:element name="AudioAttributes" type="tva:AudioAttributesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="VideoAttributes" type="tva:VideoAttributesType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ServiceAvailability" type="dvb:ServiceAvailabilityType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Usage" type="dvb14:Usage" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LinkedService" type="dvb14:IPService" minOccurs="0" maxOccurs="unbounded"/>
<!-- Additions for CSS - June 2014 -->
			<xsd:element name="URILinkage" type="dvb14:URILinkageType" minOccurs="0"/>
			<xsd:element name="ciAncillaryData" type="dvb14:ciAncillaryDataType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
		
	<xsd:simpleType name="Usage">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="FCC"/>
			<xsd:enumeration value="PiP"/>
			<xsd:enumeration value="Main"/>
			<xsd:enumeration value="HD"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="3D"/>
			<xsd:enumeration value="DSMService"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="IPServiceList">
		<xsd:sequence>
			<xsd:element name="ServicesDescriptionLocation" type="dvb:DescriptionLocationBCG" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:sequence>
				<xsd:element name="SingleService" type="dvb14:IPService" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="McastType">
		<xsd:sequence minOccurs="0">
			<xsd:element name="FECBaseLayer" type="dvb14:FECLayerAddressType" minOccurs="0"/>
			<xsd:element name="FECEnhancementLayer" type="dvb14:FECLayerAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CNAME" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ssrc" type="xsd:unsignedInt" minOccurs="0"/>
			<xsd:element name="RTPRetransmission" type="dvb:RETInfoType" minOccurs="0"/>
			<xsd:element name="ServerBasedLMBEnhancementService" type="dvb:RETInfoType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="dvb14:MulticastAddressAttributes"/>
	</xsd:complexType>
	<xsd:attributeGroup name="BasicMulticastAddressAttributesType">
		<xsd:attribute name="Source" type="dvb14:IPOrDomainType" use="optional"/>
		<xsd:attribute name="Address" type="dvb14:IPOrDomainType" use="required"/>
		<xsd:attribute name="Port" type="xsd:unsignedShort" use="required"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name="MulticastAddressAttributes">
		<xsd:attributeGroup ref="dvb14:BasicMulticastAddressAttributesType"/>
		<xsd:attribute name="Streaming" type="dvb:StreamingType" use="optional"/>
		<xsd:attributeGroup ref="dvb:FECAttributeGroupType"/>
	</xsd:attributeGroup>
	<xsd:complexType name="OfferingListType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Push" type="dvb14:DVBSTPTransportModeType"/>
			<xsd:element name="Pull">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="dvb12:PayloadList">
							<xsd:attribute name="Location" type="dvb:PullURL" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ServiceLocation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The location of a service. Currently this supports either a broadcast system identifier or a multicast address (ASM and SSM) or RTSP.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="BroadcastSystem" type="dvb12:BroadcastSystemType"/>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="IPMulticastAddress" type="dvb14:McastType"/>
				<xsd:element name="RTSPURL" type="dvb:RTSPURLType"/>
			</xsd:choice>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TransportModeType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="DVBSTP" type="dvb14:DVBSTPTransportModeType"/>
			<xsd:element name="HTTP" type="dvb14:HTTPTransportModeType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DVBSTPTransportModeType">
		<xsd:complexContent>
			<xsd:annotation>
				<xsd:documentation>
					DVBSTP may include either IPv4 or IPv6 Service Provider ID, differentiated within the DVBSTP header structure by the value of the version
				</xsd:documentation>
			</xsd:annotation>
			<xsd:extension base="dvb12:PayloadList">
				<xsd:attributeGroup ref="dvb14:BasicMulticastAddressAttributesType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FECLayerAddressType">
		<xsd:attribute name="Address" type="dvb14:IPOrDomainType" use="optional"/>
		<xsd:attribute name="Source" type="dvb14:IPOrDomainType" use="optional"/>
		<xsd:attribute name="Port" type="xsd:unsignedShort" use="optional"/>
		<xsd:attribute name="MaxBitrate" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="RTSPControlURL" type="xsd:anyURI" use="optional"/>
		<xsd:attribute name="PayloadTypeNumber" type="xsd:unsignedInt" use="optional"/>
		<xsd:attribute name="TransportProtocol" type="dvb:TransportProtocolType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="BCGOffering">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Provides information on Broadband Content Guide Offerings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:sequence>
					<xsd:element name="BCG" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Name" type="dvb:MultilingualType" maxOccurs="unbounded"/>
								<xsd:element name="Description" type="dvb:MultilingualType" minOccurs="0" maxOccurs="unbounded"/>
								<xsd:element name="TransportMode" type="dvb14:TransportModeType"/>
								<xsd:element name="Logo" type="xsd:anyURI" minOccurs="0"/>
								<xsd:element name="Type" type="tva:ControlledTermType" minOccurs="0"/>
								<xsd:element name="TargetProvider" type="dvb:DomainType" minOccurs="0" maxOccurs="unbounded"/>
								<xsd:element name="BCGProviderName" type="dvb:MultilingualType" minOccurs="0" maxOccurs="unbounded"/>
								<xsd:element name="CDSDownloadSessionDescriptionLocation" type="dvb14:CDSDownloadSessionDescriptionLocationType" minOccurs="0"/>
							</xsd:sequence>
							<xsd:attribute name="Id" type="tva:TVAIDType" use="required"/>
							<xsd:attribute name="Version" type="dvb:Version" use="optional"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="IPOrDomainType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">union of DomainType and IPType</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="dvb14:IPType dvb:DomainType"/>
	</xsd:simpleType>
<!-- Additions for IPv6 - June 2014 -->
	<xsd:simpleType name="IPType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">union of IPv4Type and IPv6Type</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="dvb14:IPv4Type dvb14:IPv6Type"/>
	</xsd:simpleType>
	<xsd:simpleType name="IPv4Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Regular expressions in pattern values for type define compatible address structures for IPv4 syntax</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="((([1-9]?[0-9])|(1[0-9][0-9])|(2[0-4][0-9])|(25[0-5]))\.){3}(([1-9]?[0-9])|(1[0-9][0-9])|(2[0-4][0-9])|(25[0-5]))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IPv6Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Regular expressions in pattern values for type define compatible address structures IPv6 syntax</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="/^\s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)
(\.(25[0-5]|2[0-4]\d|1\d\d|[1-9]?\d)){3}))|:)))(%.+)?\s*$/"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PayloadList">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="PayloadId">
				<xsd:complexType>
					<xsd:sequence minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="Segment" type="dvb12:PayloadListSegmentType"/>
					</xsd:sequence>
					<xsd:attribute name="Id" type="dvb:Hexadecimal8bit" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FECInfoType">
		<xsd:sequence>
			<xsd:element name="FECBaseLayer" type="dvb14:FECLayerAddressType"/>
			<xsd:element name="FECEnhancementLayer" type="dvb14:FECLayerAddressType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="dvb:FECAttributeGroupType"/>
	</xsd:complexType>
	<xsd:element name="CoDAnnounceDescribe">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ContentDescription" type="tva:BasicContentDescriptionType"/>
				<xsd:element name="FECInfo" type="dvb14:FECInfoType" minOccurs="0"/>
				<xsd:element name="RETInfo" type="dvb:RETInfoType" minOccurs="0"/>
				<xsd:element name="ServerBasedEnhancementServiceInfo" type="dvb12:ServerBasedEnhancementServiceInfoType" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="RTSPControlURL" type="xsd:anyURI" use="optional"/>
			<xsd:attribute name="Streaming" type="dvb:StreamingType" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	
<!-- Additions to Package for CSS - June 2014 -->
	<xsd:complexType name="PackagedServices">
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:sequence>
					<xsd:element name="Package" type="dvb14:Package" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Package">
		<xsd:complexContent>
			<xsd:extension base="dvb12:Package">
				<xsd:sequence>
					<xsd:element name="URILinkage" type="dvb14:URILinkageType" minOccurs="0"/>
					<xsd:element name="ciAncillaryData" type="dvb14:ciAncillaryDataType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ciAncillaryDataType">
		<xsd:sequence>
			<xsd:element name="AncillaryDataBytes" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="URILinkageType">
		<xsd:sequence>
			<xsd:element name="UriLinkageType" type="dvb:Hexadecimal8bit"/>
			<xsd:element name="URI" type="xsd:anyURI"/>
			<xsd:element name="MinPollingInterval" type="xsd:unsignedShort" minOccurs="0"/>
			<xsd:element name="PrivateDataBytes" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RMSFUSDiscoveryType">
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:choice>
					<xsd:element name="FUSProvider" type="dvb14:FUSType" maxOccurs="unbounded"/>
					<xsd:element name="RMSProvider" type="dvb:RMSType" maxOccurs="unbounded"/>
					<xsd:element name="DSMProvider" type="dvb14:DSMMType" minOccurs="0" maxOccurs="1"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
		
	<xsd:complexType name="DSMMType">
		<xsd:sequence>
			<xsd:element name="DSMMName" type="dvb:MultilingualType" maxOccurs="unbounded"/>
			<xsd:element name="DSMMID" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="Description" type="dvb:MultilingualType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="LogoURI" type="xsd:anyURI" use="optional"/>
		<xsd:attribute name="DSMMLocation" type="xsd:anyURI" use="required"/>
	</xsd:complexType>
	
	<xsd:complexType name="FUSAnnouncementType">
		<xsd:sequence>
			<xsd:element name="FUSAnnouncementDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MulticastAnnouncementAddress" type="dvb14:RMSFUSMulticastAddressType" minOccurs="0"/>
			<xsd:element name="FUSUnicastAnnouncement" type="xsd:anyURI" minOccurs="0"/>
			<xsd:element name="QRCLocation" type="xsd:anyURI" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RMSFUSMulticastAddressType">
		<xsd:attributeGroup ref="dvb14:BasicMulticastAddressAttributesType"/>
		<xsd:attribute name="Protocol" use="optional">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1 SAP"/>
					<xsd:enumeration value="2 DVBSTP"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="FUSType">
		<xsd:complexContent>
			<xsd:extension base="dvb:FUSType">
				<xsd:sequence>
					<xsd:element name="FUSAnnouncement" type="dvb14:FUSAnnouncementType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="CDSDownloadSessionDescriptionLocationType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="DVBSTP">
				<xsd:annotation>
					<xsd:documentation>
						DVBSTP may include either IPv4 or IPv6 Service Provider ID, differentiated within the DVBSTP header structure by the value of the version
					</xsd:documentation>
				</xsd:annotation>			
				<xsd:complexType>
					<xsd:attributeGroup ref="dvb14:BasicMulticastAddressAttributesType"/>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SAP">
				<xsd:complexType>
					<xsd:attributeGroup ref="dvb14:BasicMulticastAddressAttributesType"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SRMAnnouncementModeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">SAP or HTTP delivery of SRM Announcement Services</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="SAP" type="dvb14:SRMAnnouncementModeSAPType"/>
			<xsd:element name="HTTP" type="xsd:anyURI"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SRMAnnouncementModeSAPType">
		<xsd:attributeGroup ref="dvb14:BasicMulticastAddressAttributesType"/>
	</xsd:complexType>
	<xsd:complexType name="SRMAnnouncementServiceType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">SRM Announcement Service information</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SRMID" type="dvb12:SRMIDType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="SRMAnnouncementMode" type="dvb14:SRMAnnouncementModeType"/>
		</xsd:sequence>
		<xsd:attribute name="AnnouncementServiceVersion" type="dvb:Version" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="SRMDownloadServiceFLUTEType">
		<xsd:sequence>
			<xsd:element name="SRMIDVer" type="dvb12:SRMIDVerMType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="FLUTESessionVersion" type="dvb:Version"/>
		<xsd:attributeGroup ref="dvb14:BasicMulticastAddressAttributesType"/>
		<xsd:attribute name="TSI" type="dvb:TSId" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SRMDownloadServiceType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">FLUTE or HTTP download of SRM files</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="FLUTE" type="dvb14:SRMDownloadServiceFLUTEType"/>
			<xsd:element name="HTTP" type="dvb12:SRMDownloadServiceHTTPType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SRMOffering">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Provides a list of SRM Announcement and Download Services</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:sequence>
					<xsd:element name="SRMAnnouncementService" type="dvb14:SRMAnnouncementServiceType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="SRMDownloadService" type="dvb14:SRMDownloadServiceType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SRMDownloadRecord">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Provides a list of SRM Download Services</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="dvb:OfferingBase">
					<xsd:sequence>
						<xsd:element name="SRMDownloadService" type="dvb14:SRMDownloadServiceType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
<!-- Additions for UK DTG Enhanced EPG aligned wih UK DTG D-Book 7 Part A v4 May 2014 -->
	
	<xsd:complexType name="HTTPTransportModeType">
		<xsd:complexContent>
			<xsd:extension base="dvb:PayloadList">
				<xsd:attribute name="Location" type="dvb:PullURL" use="required"/>
				<xsd:attribute name="SOAP" default="false"/>
				<xsd:attribute name="PollingPeriodSecs" type="xsd:unsignedShort" use="optional"/>
				<xsd:attribute name="SpreadRequestSecs" type="xsd:unsignedShort" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>
