metadata/iptv/ts_102034v010101p0/ipisdns-p1-v1-0-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Kevin Murray (NDS Limited) -->
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Muriel Deschanel Canal+Technologies (INDIGO DEVELOPPEMENT) -->
<xsd:schema targetNamespace="urn:dvb:ipisdns:2003" xmlns:dvb="urn:dvb:ipisdns:2003" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:documentation>schema to validate the record of the description of the DVB-IP offering of a service Provider</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="ServiceDiscovery">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="BroadcastDiscovery" type="dvb:BroadcastOffering" maxOccurs="unbounded"/>
				<xsd:element name="CoDDiscovery" type="dvb:CoDOffering" maxOccurs="unbounded"/>
				<xsd:element name="ServicesFromOtherSP" type="dvb:ReferencedServices" maxOccurs="unbounded"/>
				<xsd:element name="PackageDiscovery" type="dvb:PackagedServices" maxOccurs="unbounded"/>
				<xsd:element name="ServiceProviderDiscovery" type="dvb:ServiceProvider" maxOccurs="unbounded"/>
			</xsd:choice>
			<xsd:attribute name="Version" type="dvb:Version" use="optional"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ServiceProvider">
		<xsd:sequence>
			<xsd:element name="ServiceProvider" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name" type="dvb:MultilingualType" maxOccurs="unbounded"/>
						<xsd:element name="Description" type="dvb:MultilingualType" minOccurs="0" maxOccurs="unbounded"/>
						<xsd:element name="Offering" type="dvb:OfferingListType" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute name="DomainName" type="dvb:DomainType" use="required"/>
					<xsd:attribute name="Version" type="dvb:Version" use="required"/>
					<xsd:attribute name="LogoURI" type="xsd:anyURI" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BroadcastOffering">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Provides a list of TS or services discovery information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:sequence>
					<xsd:element name="ServiceList" type="dvb:IPServiceList" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CoDOffering">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Provides information on Content on Demand Offerings</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:sequence>
					<xsd:element name="Catalogue" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Name" type="dvb:MultilingualType" maxOccurs="unbounded"/>
								<xsd:element name="Description" type="dvb:MultilingualType" minOccurs="0" maxOccurs="unbounded"/>
								<xsd:element name="Locator" type="xsd:anyURI" maxOccurs="unbounded"/>
							</xsd:sequence>
							<xsd:attribute name="Id" type="dvb:Hexadecimal16bit" use="required"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PackagedServices">
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:sequence>
					<xsd:element name="Package" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="PackageName" type="dvb:MultilingualType" maxOccurs="unbounded"/>
								<xsd:element name="Service" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="TextualID" type="dvb:TextualIdentifier"/>
											<xsd:element name="DescriptionLocation" type="dvb:DescriptionLocation" minOccurs="0"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="CountryAvailability" type="dvb:CountryAvailability" minOccurs="0" maxOccurs="unbounded"/>
								<xsd:element name="PackageDescription" type="dvb:DescriptionLocation" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
							<xsd:attribute name="Id" type="dvb:Hexadecimal16bit" use="required"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReferencedServices">
		<xsd:complexContent>
			<xsd:extension base="dvb:OfferingBase">
				<xsd:sequence>
					<xsd:element name="ReferencedServiceProvider" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Service" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:attribute name="Name" type="dvb:Service" use="required"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="Domain" type="dvb:DomainType" use="required"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AnnouncementSupport">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Implementation of the Announcement support indicator from ETSI EN 300 468.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Announcement" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:choice minOccurs="0">
						<xsd:element name="TextualIdentifier" type="dvb:TextualIdentifier"/>
						<xsd:element name="DVBTriplet" type="dvb:DVBTriplet"/>
					</xsd:choice>
					<xsd:attribute name="Type" type="dvb:Hexadecimal4bit" use="required"/>
					<xsd:attribute name="ReferenceType" type="dvb:Hexadecimal3bit" use="required"/>
					<xsd:attribute name="ComponentTag" type="dvb:Hexadecimal8bit" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="SupportIndicator" type="dvb:Hexadecimal16bit" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="CountryAvailability">
		<xsd:attribute name="Countries" type="dvb:ISO-3166-List" use="required"/>
		<xsd:attribute name="Available" type="xsd:boolean" default="true"/>
	</xsd:complexType>
	<xsd:complexType name="DVBTriplet">
		<xsd:attribute name="OrigNetId" type="dvb:OrigNetId" use="required"/>
		<xsd:attribute name="TSId" type="dvb:TSId" use="required"/>
		<xsd:attribute name="ServiceId" type="dvb:ServiceId" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="IPService">
		<xsd:sequence>
			<xsd:element name="ServiceLocation" type="dvb:ServiceLocation"/>
			<xsd:element name="TextualIdentifier" type="dvb:TextualIdentifier"/>
			<xsd:element name="DVBTriplet" type="dvb:DVBTriplet"/>
			<xsd:element name="MaxBitrate" type="xsd:positiveInteger" minOccurs="0"/>
			<xsd:element name="SI" type="dvb:SI" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IPServiceList">
		<xsd:sequence>
			<xsd:element name="ServicesDescriptionLocation" type="dvb:DescriptionLocation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:sequence>
				<xsd:element name="SingleService" type="dvb:IPService" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="McastType">
		<xsd:attributeGroup ref="dvb:MulticastAddressAttributes"/>
	</xsd:complexType>
	<xsd:complexType name="MosaicDescription">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="LogicalCell">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:sequence maxOccurs="unbounded">
							<xsd:element name="ElementaryCell">
								<xsd:complexType>
									<xsd:attribute name="CellId" type="dvb:Integer6bit" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:choice minOccurs="0">
							<xsd:element name="TextualId" type="dvb:TextualIdentifier"/>
							<xsd:element name="DVBTriplet" type="dvb:DVBTriplet"/>
							<xsd:element name="PackageId">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="dvb:Hexadecimal16bit">
											<xsd:attribute name="Domain" type="dvb:DomainType" use="optional"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
					<xsd:attribute name="CellId" type="dvb:Integer6bit" use="required"/>
					<xsd:attribute name="PresentationInfo" type="dvb:Hexadecimal3bit" use="required"/>
					<xsd:attribute name="LinkageInfo" type="dvb:Hexadecimal8bit" use="required"/>
					<xsd:attribute name="EventId" type="dvb:Hexadecimal16bit" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="EntryPoint" type="xsd:boolean" default="true"/>
		<xsd:attribute name="HorizontalCellsNumber" type="dvb:Hexadecimal3bit" use="required"/>
		<xsd:attribute name="VerticalCellsNumber" type="dvb:Hexadecimal3bit" use="required"/>
	</xsd:complexType>
	<xsd:attributeGroup name="MulticastAddressAttributes">
		<xsd:attribute name="Source" type="dvb:IPOrDomainType" use="optional"/>
		<xsd:attribute name="Address" type="dvb:IPOrDomainType" use="required"/>
		<xsd:attribute name="Port" type="xsd:unsignedShort" use="required"/>
	</xsd:attributeGroup>
	<xsd:complexType name="MultilingualType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Language" type="dvb:ISO639-2" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="OfferingBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Base class from which all offerings should be derived</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="DomainName" type="dvb:DomainType" use="required"/>
		<xsd:attribute name="Version" type="dvb:Version" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="OfferingListType">
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="Push">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="dvb:PayloadList">
							<xsd:attributeGroup ref="dvb:MulticastAddressAttributes"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Pull">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="dvb:PayloadList">
							<xsd:attribute name="Location" type="dvb:PullURL" use="required"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PayloadList">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="PayloadId">
				<xsd:complexType>
					<xsd:sequence minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="Segment">
							<xsd:complexType>
								<xsd:attribute name="Version" type="dvb:Version" use="optional"/>
								<xsd:attribute name="ID" type="dvb:Hexadecimal16bit" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="Id" type="dvb:Hexadecimal8bit" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReplacementService">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">implementation of The replacement_Service part of the Linkage_Descriptor in ETSI EN 300 468. Describes a service to try if the specified one fails.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="TextualIdentifier" type="dvb:TextualIdentifier"/>
			<xsd:element name="DVBTriplet" type="dvb:DVBTriplet"/>
		</xsd:choice>
		<xsd:attribute name="ReplacementType" type="dvb:Hexadecimal8bit" use="optional" default="5"/>
	</xsd:complexType>
	<xsd:complexType name="ServiceLocation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The location of a service. Currently this supports either a multicast address (ASM and SSM) or RTSP.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="IPMulticastAddress" type="dvb:McastType"/>
			<xsd:element name="RTSPURL" type="dvb:RTSP"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="SI">
		<xsd:annotation>
			<xsd:documentation>Implementation of traditional DVB SI information about a service</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="dvb:MultilingualType" maxOccurs="unbounded"/>
			<xsd:element name="Description" type="dvb:MultilingualType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ServiceDescriptionLocation" type="dvb:DescriptionLocation" minOccurs="0"/>
			<xsd:element name="ContentGenre" type="dvb:Genre" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CountryAvailability" type="dvb:CountryAvailability" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReplacementService" type="dvb:ReplacementService" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MosaicDescription" type="dvb:MosaicDescription" minOccurs="0"/>
			<xsd:element name="AnnouncementSupport" type="dvb:AnnouncementSupport" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ServiceType" type="dvb:ServiceType" use="required"/>
		<xsd:attribute name="PrimarySISource" type="dvb:PrimarySISource" use="optional" default="XML"/>
	</xsd:complexType>
	<xsd:complexType name="TextualIdentifier">
		<xsd:attribute name="DomainName" type="dvb:DomainType" use="optional"/>
		<xsd:attribute name="ServiceName" type="dvb:Service" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="DescriptionLocation">
		<xsd:restriction base="xsd:anyURI"/>
	</xsd:simpleType>
	<xsd:simpleType name="DomainType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="((.|\n|\r)*)?(\.(.|\n|\r)*)+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Genre">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">General Genre of a service. Meanings are from the content_nibble_level_1 field of the content_descriptor in ETSI EN 300 468 (table 26).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:byte">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Hexadecimal3bit">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-7]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Hexadecimal4bit">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Hexadecimal8bit">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{1,2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Hexadecimal16bit">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Integer6bit">
		<xsd:restriction base="xsd:unsignedShort">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="63"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IPOrDomainType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">union of DomainType and IPType</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="dvb:IPType dvb:DomainType"/>
	</xsd:simpleType>
	<xsd:simpleType name="IPType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Type equivalent to the IPv4 dotted Address Notation a.b.c.d. This supports DECIMAL ONLY</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="((([1-9]?[0-9])|(1[0-9][0-9])|(2[0-4][0-9])|(25[0-5]))\.){3}(([1-9]?[0-9])|(1[0-9][0-9])|(2[0-4][0-9])|(25[0-5]))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ISO-3166-List">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A comma separated list of one or more country codes, where the codes are defined by ISO-3166.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\c\c\c(,\c\c\c)*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ISO639-2">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Type for 3 letter lanuage codes. Value space is be IS 639-2 valid codes.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\c\c\c"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrigNetId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A unique identifier of a network. This is managed by DVB through ETSI, and listed in ETSI TR 101 162</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedShort"/>
	</xsd:simpleType>
	<xsd:simpleType name="PrimarySISource">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Stream"/>
			<xsd:enumeration value="XML"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PullURL">
		<xsd:restriction base="xsd:anyURI">
			<xsd:pattern value="http://.*/dvb/sdns.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RTSP">
		<xsd:restriction base="xsd:anyURI">
			<xsd:pattern value="rtsp://.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Service">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(.|\n|\r)+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A number used to identify a service within a Transport Stream. See ETSI EN 300 468</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedShort"/>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The "Type" of a service (e.g. radio, TV, mosaic, ...). See ETSI EN 300 468, table 72 for details of values</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="dvb:Hexadecimal8bit"/>
	</xsd:simpleType>
	<xsd:simpleType name="TSId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A number used to identify Transport Stream within an original_network. See ETSI EN 300 468</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedShort"/>
	</xsd:simpleType>
	<xsd:simpleType name="Version">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
